@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    height: 100vh;
    background: hsl(0, 0%, 95%);
}

main {
    height: 100%;
    width: 70%;
    margin: auto;
    display: grid;
    place-items: center;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 500px;
}

article {
    padding: 40px 0 0 40px;
}

/* COLORING BOXES SECTION STARTS */
.box1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.box2 {
    background-color: hsl(184, 100%, 22%);
}

.box3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

/* COLORING BOXES SECTION ENDS */

/* HEADING, PARAGRAPH, AND BUTTON SECTION STYLE STARTS */
h2 {
    color: hsl(0, 0%, 95%);
    padding: 25px 0;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Big Shoulders Display', sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    max-width: 80%;
    line-height: 25px;
    margin-bottom: 100px;
}


a {
    color: hsl(0, 0%, 95%);
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 30px;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 40px;
    background: hsl(0, 0%, 95%);
    transition: background 1s ease-in-out;
    cursor: pointer;
}

.box1 a {
    color: hsl(31, 77%, 52%);
}

.box1 a:hover {
    background: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

.box2 a {
    color: hsl(184, 100%, 22%);
}

.box2 a:hover {
    background: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.box3 a {
    color: hsl(179, 100%, 13%);
}

.box3 a:hover {
    background: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

/* HEADING, PARAGRAPH, AND BUTTON SECTION STYLE ENDS */

/*MEDIA QUERIES SECTION STARTS*/
/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    main {
        width: 80%;
        font-size: 12px;
    }

    p {
        margin-bottom: 90px;
    }

}

/* tablet */
@media (min-width: 767px) and (max-width: 991px) {
    main {
        width: 50%;
    }

    p {
        margin-bottom: 50px;

    }
}

/* mobile */
@media (max-width: 768px) {
    main {
        width: 50%;
    }

    section {
        grid-template-columns: repeat(1, 1fr);
    }

    article {
        height: 500px;
    }

    p {
        max-width: 70%;
        margin-bottom: 90px;
    }

}

/*MEDIA QUERIES SECTION ENDS*/